<h1>Group Listings!</h1>
 <div class="new-group">
    <%= link_to("Create New Group!", new_group_path, :class => 'btn btn-primary') %>
 </div>


<hr> </hr>

<div class="row"><% @groups.each do |group| %>
  <div class="col-md-4 portfolio-item">
    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
      <h3>
          <%= link_to(group.name, group)  %>
      </h3>
      <p><%= group.description  %></p>
  </div>
<% end %>
